@import '../../app-theme';
@import 'palette.scss';

// Define the light theme.
$primary: mat-palette($i-primary);
$accent:  mat-palette($i-accent);
$warning: mat-palette($i-warn);

$theme: mat-light-theme($primary, $accent, $warning);
@include angular-material-theme($theme);
@include material-docs-app-theme($theme); 
