$i-primary: (
    50 : #e5e8eb,
    100 : #526e86,
    200 : #47637b,
    300 : #3c5970,
    400 : #314e64,
    500 : #264359,
    600 : #223d51,
    700 : #133045,
    800 : #071d2f,
    900 : #0d1e2e,
    A100 : #6be4ee,
    A200 : #6be4ee,
    A400 : #2bb2bc,
    A700 : #00828c,
    contrast: (
        50 : #000000,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$i-accent: (
    50 : #e5f4f3,
    100 : #6be4ee,
    200 : #5bd8e2,
    300 : #4bcbd5,
    400 : #3bbfc9,
    500 : #2bb2bc,
    600 : #169aa4,
    700 : #00828c,
    800 : #077f7c,
    900 : #0d7b6c,
    A100 : #001c30,
    A200 : #001c30,
    A400 : #001c30,
    A700 : #001c30,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$i-warn: (
    50 : #fcece2,
    100 : #ff9542,
    200 : #fa8934,
    300 : #f57d27,
    400 : #ef7019,
    500 : #ea640b,
    600 : #dc5808,
    700 : #cd4c06,
    800 : #bf4003,
    900 : #b03400,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #001c30,
    A700 : #001c30,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


